.editor{
  padding: 1.5rem;
  &__title {
    font-size: 3.5rem;
    font-family: $header-font;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
.editor-container {
  width: 100%;
  height: 100vh;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
}
#editor-ta {
  font-family: $main-font;
}
