.header{
  padding: 1rem 1.8rem; 
  max-height: 7.5rem;
  display: flex;
  align-items: center;
  &__appname {
    font-family: $header-font;
    margin-right: 2rem;
  }
  &__style-select {
    margin-right: 0.5rem;
  }
  &__btn-group {
    border: 1px solid var(--border-clr);
    border-radius: 5px;
  }
  &__font-size {
    margin-right: 0.5rem;
  }
}
.header-controls {
  flex: 1 1 auto;
}
.header-collaborators {
  display: flex;
}
.color {
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:last-of-type {
    margin-right: 0;
  }
  &_black {
    background: black;
  }
  &_blue {
    background: blue;
  }
  &_red {
    background: red;
  }
  &_green {
    background: green;
  }
  &:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
  }
  &_active {
    margin:0;
  }

}
.color-select-menu {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
}
