$header-font: 'Playfair Display', serif; // 900
$main-font: 'Istok Web', sans-serif; // 400
$secondary-font: 'Noto Sans', sans-serif; // 700

@import 'mixins';

body {
  margin: 0;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-bg: rgba(244,244,244, 1);
  --content-gb: rgba(255,255,255,1);
  --border-clr: rgba(196,196,196, 1);
  --button-clr: rgba(0, 116, 253, 1);
  --text-clr: rgba(0,0,0,1);
}
